<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
    <th:block layout:fragment="head">
        <!-- 페이지별 추가 CSS/JS -->
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <!-- Page Content -->
    <h1 class="h3 mb-4 text-gray-800">Custom Content</h1>
    <p>여기에 원하는 콘텐츠를 추가하세요.</p>
</div>

<th:block layout:fragment="scripts">
    <!-- 페이지별 추가 스크립트 -->
</th:block>
</body>
</html>